# Android
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
.env

# Output directories
gopro_output/

# PyInstaller
build/
dist/
*.manifest
